body#qmextension {
  width: 400px;
  min-height: 330px;
  background: ghostwhite;
}

body#qmextension .uk-grid-small {
  margin-left: 0px;
}

body#qmextension #header a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

body#qmextension .uk-navbar {
  height: 24px;
  margin-left: 0px;
  font-weight: bold;
}

body#qmextension #bookmarks {
  margin-top: 6px;
}

body#qmextension .uk-card .uk-list {
  line-height: 1.0;
  margin-top: 6px;
  margin-left: 14px;
}

body#qmextension .uk-card .uk-list img {
  width: 10px;
  float: right;
}

body#qmextension .uk-card-body {
  padding: 4px 6px 6px 6px;
  font-size: 80%;
  margin-right: 16px;
}

body#qmextension .uk-card-title {
  font-size: .90rem;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 10px;
}

body#qmextension .uk-card-title.red {
  color: red;
}

body#qmextension .uk-card-title.green {
  color: green;
}

body#qmextension .uk-card-title.yellow {
  color: darkgoldenrod;
}

body#qmextension .uk-card-title.blue {
  color: dodgerblue;
}

body#qmextension #settings form input {
  width: 364px;
}